body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

.x-axis-label {
    text-align: center;
    color: #545454;
}

.task-details-tree div div div div div {
    padding: 0;
}

.task-details-tree div div div div div table td {
    padding: 0;
}

.task-details-tree div div div div div table td input {
    margin-top: 1px;
    margin-bottom: 1px;
}

