body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    font-size: small;
    margin: 8px;
}

.main-panel {
    margin: 60px 10px 10px 10px;
}

.nav-panel {
    text-decoration: none;
    font-weight: bold;
    color: #336699;
    width: 100%;
}

.nav-panel ul {
    margin: 0;
    padding: 0;
}

.nav-panel ul li {
    display: inline;
    float: left;
    list-style: none;
    margin: 0 0 0 2px;
    padding: .5em;
}

.nav-panel a {
    text-decoration: none;
    font-weight: bold;
    color: #336699;
    display: block;
    padding: 5px 10px;

    border: 1px solid #336699;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.nav-panel a:visited {
    color: #336699;
}

.nav-panel a:hover {
    text-decoration: underline;
}

.nav-panel ul li a.current-item {
    color: #ffffff;
    background-color: #336699;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.content-panel {
    border: 2px solid #336699;
    margin: 0;
}

.plotPanel {
    margin: 5px;
}

.x-axis-label {
    text-align: center;
    color: #545454;
}

.task-details-tree div div div div div {
    padding: 0;
}

.task-details-tree div div div div div table td {
    padding: 0;
}

.task-details-tree div div div div div table td input {
    margin-top: 1px;
    margin-bottom: 1px;
}

.plot-header, .plot-legend {
    text-align: center;
}

.plot-header {
    font-weight: bold;
}

.plot-legend {
    border: 1px solid #575757;
    margin-bottom: .3em;
}

.centered {
    text-align: center;
}

.gwt-DateBox, .gwt-TextBox {
    padding: 0;
    margin: 0;
}

.zoom-label {
    font-size: smaller;
    color: #999;
    background-color: #eee;
    padding: .1em .5em;
    cursor: pointer;
    display: inline-block;
}

.zoom-panel {
    text-align: right;
}

.gwt-PopupPanel {
    border: none;
    padding: 0;
    color: #999;
    background-color: #eee;
}

.info-panel table {
    border: 1px solid #999;
    color: #999;
    background-color: #eee;
    border-collapse: collapse;
    overflow: auto;
}

.info-panel table tr {
    border: 1px solid #999;
}

.info-panel table tr td {
    border: 1px solid #999;
    padding: .3em;
    text-align: justify;
    word-wrap: break-word;
    vertical-align: top;
}

.info-panel table tr td:first-child {
    white-space: nowrap;
}
