.mainPanel {
    margin: 10px 10px 10px 10px;
}

.navPanel {
    text-decoration: none;
    font-weight: bold;
    width: 100%;
}

.navPanel ul {
    margin: 0;
    padding: 0;
}

.navPanel ul li {
    display: inline;
    float: left;
    list-style: none;
    margin: 0 0 0 2px;
    padding: 3px;
}

.navPanel ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #888;
    background-color: #e4e4e4;
    display: block;
    padding: 3px;
    font-size: smaller;

    border: 1px solid #888;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.summaryPanel{
    text-align: center;
    margin:  auto;
}

.nodesPanel{
    text-align: center;
    margin:  auto;
}

.testHeader{
    background-color: #B0C4DE;
    text-align: center;
}

.sessionNameHeader{
    font-size: 32px;
    color: #FFFAFA;
    background-color: #4169E1;
    width: 100%;
}

.testNameHeader{
    font-size: 24px;
    color: #87CEFA;
    background-color: #4169E1;
    margin-left: 20px;
}

.navPanel a:visited {
    color: #888;
}

.navPanel ul li .currentItem a {
    color: #555555;
    background-color: #fff;

    border: 2px solid #555;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    -o-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}

.contentPanel {
    border: 2px solid #555555;
    margin: 0;
    background-color: white;

    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.plotPanel {
    margin: 5px;
}

.xAxisLabel {
    text-align: center;
    color: #545454;
}

.taskDetailsTree div div div div div {
    padding: 0;
}

.taskDetailsTree div div div div div table td {
    padding: 0;
}

.taskDetailsTree div div div div div table td input {
    margin-top: 1px;
    margin-bottom: 1px;
}

input[type="text"] {
    border: 1px solid #555555;
    padding: .1em;

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.plotHeader, .plotLegend {
    text-align: center;
}

.plotHeader {
    font-weight: bold;
}

.plotLegend {
    border: 1px solid #575757;
    margin-bottom: .3em;
}

.centered {
    text-align: center;
}

.gwt-DateBox, .gwt-TextBox {
    padding: 0;
    margin: 0;
}

.zoomLabel {
    font-size: smaller;
    color: #999;
    background-color: #eee;
    padding: .2em .5em .4em .5em;
    cursor: pointer;
    display: inline-block;
}

.panLabel {
    color: #999;
    background-color: #eee;
    padding: 0 .5em .2em .5em;
    cursor: pointer;
    display: inline-block;
}

.panLabel img {
    vertical-align: middle;
}

.zoomPanel {
    text-align: right;
}

.gwt-PopupPanel {
    border: none;
    padding: 0;
    color: #999;
    background-color: #eee;
}

.infoPanel table {
    border: 1px solid #999;
    color: #999;
    background-color: #eee;
    border-collapse: collapse;
    overflow: auto;
}

.infoPanel table tr {
    border: 1px solid #999;
}

.infoPanel table tr td {
    border: 1px solid #999;
    padding: .3em;
    text-align: justify;
    word-wrap: break-word;
    vertical-align: top;
}

.infoPanel table tr td:first-child {
    white-space: nowrap;
}

.toolBar {
    margin: 0 0 2px 0;
    padding: 0;
    background-color: #F6F6F6;
    border-bottom: 1px dotted #E8E6E5;
}

.controlFont {
    font: normal 11px arial, tahoma, helvetica, sans-serif !important;
    color: #000000 !important;
}

.toolBar img {
    cursor: pointer;
}

.gwt-CheckBox label {
    display: inline-block;
    vertical-align: bottom;
}

.exceptionPanel {
    max-width: 600px;
    text-wrap: normal
}

.exceptionPanel i {
    font-size: x-small;
}

.userCommentBox {
    font-size: 14px;
}

.gwt-DialogBox .Caption {
    padding: 4px 8px 4px 4px;
    cursor: default;
    font-size: 14px;
}
