<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:spring/monitoring.reporting.conf.xml,classpath:spring/workload.reporting.conf.xml</param-value>
    </context-param>
    <context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>
    <!-- Bootstrap the root application context as usual using ContextLoaderListener -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>SessionDataServiceImpl</servlet-name>
        <servlet-class>com.griddynamics.jagger.webclient.server.SessionDataServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>WorkloadServiceImpl</servlet-name>
        <servlet-class>com.griddynamics.jagger.webclient.server.WorkloadServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TaskDataServiceImpl</servlet-name>
        <servlet-class>com.griddynamics.jagger.webclient.server.TaskDataServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PlotProviderServiceImpl</servlet-name>
        <servlet-class>com.griddynamics.jagger.webclient.server.PlotProviderServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SessionDataServiceImpl</servlet-name>
        <url-pattern>/com.griddynamics.jagger.webclient.JaggerWebClient/SessionDataService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WorkloadServiceImpl</servlet-name>
        <url-pattern>/com.griddynamics.jagger.webclient.JaggerWebClient/WorkloadService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TaskDataServiceImpl</servlet-name>
        <url-pattern>/com.griddynamics.jagger.webclient.JaggerWebClient/TaskDataService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PlotProviderServiceImpl</servlet-name>
        <url-pattern>/com.griddynamics.jagger.webclient.JaggerWebClient/PlotProviderService</url-pattern>
    </servlet-mapping>

</web-app>
