<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>SessionDataServiceImpl</servlet-name>
        <servlet-class>com.griddynamics.jagger.webclient.server.SessionDataServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>WorkloadServiceImpl</servlet-name>
        <servlet-class>com.griddynamics.jagger.webclient.server.WorkloadServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>TaskDataServiceImpl</servlet-name>
        <servlet-class>com.griddynamics.jagger.webclient.server.TaskDataServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>PlotProviderServiceImpl</servlet-name>
        <servlet-class>com.griddynamics.jagger.webclient.server.PlotProviderServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SessionDataServiceImpl</servlet-name>
        <url-pattern>/com.griddynamics.jagger.webclient.JaggerWebClient/SessionDataService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>WorkloadServiceImpl</servlet-name>
        <url-pattern>/com.griddynamics.jagger.webclient.JaggerWebClient/WorkloadService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>TaskDataServiceImpl</servlet-name>
        <url-pattern>/com.griddynamics.jagger.webclient.JaggerWebClient/TaskDataService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>PlotProviderServiceImpl</servlet-name>
        <url-pattern>/com.griddynamics.jagger.webclient.JaggerWebClient/PlotProviderService</url-pattern>
    </servlet-mapping>

</web-app>
